@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: lightgray;
  font-family: "Roboto", sans-serif;
}

/* div,
p,
input,
label {
  border: solid 1px red;
} */

.header {
  display: flex;
  height: 100px;
  background-color: #06b6d4;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 2px 3px gray;
}

.header > .title {
  font-size: 30px;
}

.header > .open-form {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #6366f1;
  color: white;
  font-size: 16px;
}

.header > .open-form:hover {
  background-color: #818cf8;
}

.fullscreen-container {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(90, 90, 90, 0.5);
  z-index: 9999;
}

.popup {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid black;
  border-radius: 5px;
  background-color: #e2e8f0;
  padding: 20px;
  width: 300px;
}

.popup > .title {
  font-size: 24px;
  text-align: center;
}

.add-item {
  display: flex;
  flex-direction: column;
}

.add-item > label {
  font-size: 16px;
  margin-top: 15px;
}

.add-item > input {
  height: 30px;
  margin-top: 4px;
}

.add-item .completed-row {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}

.completed-row > input.completed {
  width: 30px;
  height: 30px;
}

.add-item button {
  height: 30px;
  margin-top: 10px;
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  align-items: center;
  padding: 12px;
  gap: 12px;
}

.item {
  display: grid;
  align-items: center;
  height: 80px;
  grid-template-columns: 1fr 250px;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 5px gray;
}

.item > .title {
  grid-row: 1/2;
  font-weight: bold;
  font-size: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.item > .author {
  grid-row: 2/3;
  align-self: flex-start;
}

.item > .info {
  display: flex;
  align-items: center;
  margin-left: 50px;
  gap: 10px;
  grid-area: 1 / 2 / 3 / 3;
  justify-self: right;
  color: gray;
}

.info > .pages {
  width: 80px;
}
